.dashboard{
	display: grid;
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
	padding-top: 3%;
	justify-content: space-around;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10%;

}

.newpoll-button{
	position: relative;
	color: white;
	cursor: pointer;
	width: 60%;
	margin-left: 20%;
	text-align: center;
}

.dashboard-form{
	text-align: center;
	

}
.dashboard-form > :nth-child(2){
	font-size: 1.17em;
	border: white 1px solid;
}

.list-item{
	grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    display: grid;
    grid-template-columns: 60% 15% 7.5% 7.5%;
    justify-content: space-between;
    color: white;
    background-color: #5a239c;
    border: 1px white solid;
    margin-bottom: 5px;
	
}

.list-item > p{
	overflow :hidden;
}
.first-item{
	border-top: #ffea1d 2px solid;
}
.poll-info{
	border-left: 1px solid white;
    border-right: 1px solid white;

}
.arrow{
	width: 32px;
	height: 21px;
	cursor: pointer;
}
.poll-text{
	text-overflow: ellipsis;
	white-space: nowrap;
}

.welcome{
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
	color: #ffea1d;
}
.dashboard-warn{
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
	color: #ffea1d;
}

.dashboard-input{
	background-color: rgba(0,0,0,0);
	color:  white;
	outline:  none;
	border:  none;
	border-bottom: solid white 1px;
}

.dashboard-input::placeholder{
	color: white;

}

.go{
	cursor: pointer;
}

@media (max-width: 991.98px){
	.dashboard{
		margin-right: 5%;
		margin-left: 5%;
		width:  90%;
	}
}