



.home-header{
	display: flex;
	width: 100%;
	height: 10vh;
	background-color: #5a239c;
	border-bottom: solid 2px #ffea1d;
}

.home-main{
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-content: center;
}

.question-box{
	height: 200px;
	width: 50%;
	margin: 10%;
	/*background-color: white;*/
	border: solid 2px white;
	


	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.question-box > :nth-child(1){
	color: white;
	border-bottom: solid 2px #ffea1d;
	width: 100%;
	text-align: center;
}

.home-button{
  color: white;
  position: relative;
  width: 50%;
  text-align: center;
  cursor: pointer;
  border-radius: 5%;
}
#code-input{
  background: rgba(0,0,0,0);
  width: 50%;
  border: none;
  border-bottom: solid white 1px;
  color: white;
  text-align: center;
}

#code-input:focus{
  outline:  none;
  border:  none;
  border-bottom: solid white 1px;
  font-size: 1.17em;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
	.home-main{
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			flex-direction: column;
	}
	.question-box{
			height: 40vw;
			width: 60%;
			margin: 5%;
			/*background-color: white;*/
			border: solid 2px white;
			
			align-self: center;

			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
	}
}


	
#background-box{
	min-height: 100px;
	background-repeat: repeat;
	color: white;
	display:  flex;
	justify-content: space-around;
	align-items: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffea1d;
	text-align: center;
}



