.poll-box {
    width: 70%;
    margin: 0% 15% 0% 15%;
    color: white;
    display: grid;
    grid-gap: 8% ;
}

.option-container{
    background-color: #5a239c;
    padding: 10px;
}
    
.question-container{
    border-bottom: #ffea1d 3px solid;
    margin-top: 20px;

}

.question-content{}

.option-content{
    cursor: pointer;
}
.option-count{
    color: #5a239c;
    background-color: white;
    text-align: right;
}

@media (max-width: 991.98px){
    .poll-box{
        margin-right: 5%;
        margin-left: 5%;
        width:  90%;
    }
}