
#register-container{
	display: flex;
	justify-content: space-around;
	padding: 10%;
	
}
#register-box{
	display:  flex;
	flex-direction: column;
	justify-content: space-around;
	height: 400px;
	
	
	border: solid 2px white;
	
	padding: 3%;
	color: white;
	text-align: center;
}

#register-box > :nth-child(1){
	border-bottom: solid #ffea1d 2px;
	width: 100%;
}

.register-input{
	background-color: rgba(0,0,0,0);
	color:  white;
	outline:  none;
	border:  none;
	border-bottom: solid white 1px;
}

.register-input::placeholder{
	color: white;

}



.warning-span{
	align-self: center;
	color: #ffea1d;
	border-bottom: solid white 1px;
	
	
}




.register-button{
	width: 50%;
	align-self: center;
	position: relative;
	color: #ffea1d ;
	cursor: pointer;
}



#can-send{
	color: white;
	cursor: pointer;
}



