#register-box{
	display:  flex;
	flex-direction: column;
	justify-content: space-around;
	width:  60%;
	height: 500px;
	margin:  10% 20% 10% 20%;
	border: solid 2px white;
	border-radius: 10%;
	padding: 3%;
	color: white;
	text-align: center;
}

#register-box > :nth-child(1){
	border-bottom: solid #ffea1d 2px;
	width: 100%;
}

input{
	background-color: rgba(0,0,0,0);
	color:  white;
	outline:  none;
	border:  none;
	border-bottom: solid white 1px;
}

input::placeholder{
	color: white;

}

#input-name{

}

#input-email{

}

#input-pass{

}

.warning-span{
	align-self: center;
	color: #ffea1d;
	border-bottom: solid white 1px;
	
}




.register-button{
	width: 50%;
	align-self: center;
	position: relative;
	color: #ffea1d ;
}



#can-send{
	color: white;
	cursor: pointer;
}



