/*
  amarelo:  #ffea1d
  roxo:  #5a239c 
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(90,35,156,0.81);/*Mesma cor roxa, com 81 de transparencia no rgb*/
  font-family: monaco, Consolas, "Lucida Console", monospace;
}